* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Press Start 2P", serif;
}

.erro, .pausado {
    color: red;
}

.acerto {
    color: green;
}

.pausado {
   font-size: 120px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgb(22, 4, 65);
    color: white;
    height: 10vh;
    text-align: center;
    align-items: center;
    font-size: 11px;
}

header>div {
    width: 33%;
}

.menuNivel>p, .menuTempo>p {
    padding: 5px;
    display: inline-block;
}

main {
    text-align: center;
    font-size: 200px;
    width: 100%;
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center; 
    user-select: none;
    color: rgb(22, 4, 65);
}

input, select{
    appearance: none; /* Remove o estilo padrão */
    padding: 10px;
    background-color: rgb(22, 4, 65);
    color: white;
    font-size: 10px;
    border: 2px solid rgb(255, 145, 0);
    border-radius: 2px;
}

input {
    text-align: center;
}

input:active{
    background-color: rgb(255, 145, 0);
    color: rgb(22, 4, 65);
}

option:hover {
    background-color: rgb(255, 145, 0);
    color: blueviolet;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(22, 4, 65);
    color: white;
    height: 10vh;
    text-align: center;
    align-items: center;
    font-size: 12px;
}

footer > div {
    width: 33%;
    margin-left: 5px;
}

footer >  div > p {
    padding-bottom: 5px;
    color: white;
}

footer >  div > p > span {
    color: rgb(255, 145, 0);
}

header {
    color: rgb(255, 145, 0);
}

header > div > p > span {
    color: white;
}